#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    
}
#frmMenu{
    width: 700px;
    height: 200px;
}
#totalPrice{
    width: 200px;
    height: 190px;
    margin: 40px auto;
    float: left;
}

.left{
    width: 200px;
    height: 200px;
    float: left;
    font-family: cursive;
    color: white;
}

.middle{
    width: 200px;
    height: 200px;
    float: left;
    font-family: cursive;
    color: white;
}

.right{
    width: 200px;
    height: 200px;
    float: left;
    font-family: cursive;
    color: white;
}
#showText{
    width: 200px;
    height: 190px;
    margin: 40px auto;
    float: left;
}
#cart{
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder{
    margin: 10px 0px 0px 100px;
    width: 100px;   
    height: 40px;

}

body{
    background-color:rgba(35, 86, 88, 0.336);
}
h1{
    font-family: cursive;
    color: white;
}
h3{
    color: black ;
}
